@font-face {
    font-family: 'Hauora';
    src: url('@/assets/fonts/Hauora-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('@/assets/fonts/Hauora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('@/assets/fonts/Hauora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicubik';
    src: url('@/assets/fonts/Bicubik-71qR.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
