.catalog__form {
    padding: 40px;
    border: 1px solid #424243;
    background: #F0F0F0;

    @include media ($big) {
        padding: 20px;
    }

    &-content {
        margin-top: 20px;
        display: flex;
        gap: 10px;

        @include media ($big) {
            flex-wrap: wrap;
        }
    }

    &-send {
        margin-top: 10px;
        width: 100%;
    }

    &-title {
        color: #424243;
        text-align: center;
        font-family: Bicubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 35.2px */
        text-transform: uppercase;

        @include media ($big) {
            font-size: 24px;
        }


        & > .green {
            color: #15CE00;
            background: none !important;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include media ($big) {
            & > img {
                display: none;
            }
        }
    }

    &-confirm {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-top: 20px;
        color: #000;
        font-family: Hauora;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include media ($big) {
            font-size: 12px;
        }
    }

    &-button {
        width: 100%;

        @include media ($big) {
            padding: 10px;
            font-size: 14px;
        }
    }

    &-input {
        &-container {
            width: 50%;

            @include media ($big) {
                width: 100%;

                & > label {
                    font-size: 14px !important;
                }
                
                & > input {
                    font-size: 16px !important;
                    padding: 15px;
                }
            }
        }
    }
}