
.blog {
    margin: 0;
    padding-bottom: 120px;
    border-bottom: 1px solid #424243;

    &-sect {
        margin: 0 !important;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: 1px solid #424243;

        @include media ($big) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media ($lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media ($md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    &__title {
        width: 50%;
        border-right: 1px solid #424243;
        padding: 50px 0 100px 0;
        position: relative;

        @include media ($big) {
            padding: 30px 0 50px 0;
        }

        @include media ($md) {
            width: 80%;
        }

        &::after {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            border-top: 1px solid #424243;
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-left: 1px solid transparent;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 0px;
            transform: rotate(-315deg);
        }

        &::before {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            border-top: 1px solid #424243;
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-left: 1px solid transparent;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: -53px;
            transform: rotate(315deg);
        }

    }

    &__content {
        border-top: 1px solid #424243;
    }

    &__card {
        border-bottom: 1px solid #424243;
    }
}